body {
  font-family: 'helvetica neue';
  font-size: 12px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#things-root {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
}

.thing {
  margin-bottom: 2em;
  border: 2px solid hsl(0, 0%, 20%);
  box-shadow: 8px 8px hsl(0, 0%, 20%);
  padding: 1em;
  border-radius: 0.25em;
  margin-left: 0.5em;
  width: 340px;
  flex-grow: 1;
  margin-right: 0.5em;
}

.thing .title {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1em;
}

.thing .stamp {
  margin-bottom: 1em;
}

.thing .link-root {
  margin-top: 1em;
}

.thing .tag-root {
  margin-top: 1em;
}

.thing .tag-root a {
  color: #fb0c0c;
  font-weight: bold;
  cursor: pointer;
}

.thing .link-root li {
  margin-bottom: 1em;
}

a:link {
  color: #fb0c6c;
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  color: #c10953;
}

.deed-form {
  width: 80%;
  min-width: 320px;
  max-width: 640px;
  display: flex;
  flex-direction: column;  
}

.deed-form label {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #444;
  min-width: 6.5em;
  padding-top: 0.5em;
}

.deed-form .form-pair {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.deed-form input {
  width: 90%;
  font-size: 1.4em;
  border-radius: 4px;
  border: solid 1px black;
  padding: 0.25em;
  /* text-align: center; */
  flex-grow: 1;
  margin-top: 0.5em;
  /* margin: 0.25em; */
  font-family: helvetica neue, helvetica, sans-serif;
}

#deed-description {
  font-size: 1.4em;
  height: 8em;
  border-radius: 4px;
  border: solid 1px black;
  padding: 0.25em;
  flex-grow: 1;
  margin-top: 0.5em;
}

button {
  margin-top: 1em;
  background-color: #fb0c6c;
  padding-top: 0.25em;
  padding-left: 1em;
  padding-right: 0.8em;
  border-radius: 4px;
  padding-bottom: 0.25em;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: 0.16em;
  border: 0;
  font-size: 2em;
}

.url-form-items li {
  /* background-color: #eee; */
  /* border: 2px solid black; */
  /* border-radius: 4px; */
  margin-bottom: 2em;
  margin-top: 2em;
}

.deed-form .deed-link-name {
  border: 1px solid black;
}

.deed-form .deed-link-url {
  border: 1px solid black;
}

.warning {
    font-size: 2em;
    background-color: #ffff8d;
    margin: 1em;
    padding: 0.5em;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

#success-message {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
}
